<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /admin/

  # Dosya veya klasör varsa direkt serve et
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Tüm istekleri admin/index.html'e yönlendir
  RewriteRule ^ /admin/index.html [L]
</IfModule>

# Eğer mod_rewrite yoksa
<IfModule !mod_rewrite.c>
  ErrorDocument 404 /admin/index.html
</IfModule>
